# Tooling
.vscode/
.vscode-test/
.husky/
.continue/
.github/
.cspell/
.lintstagedrc
cspell.json
commitlint.config.mjs
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*

# Deps
node_modules/

# Build
src/
out/
demos/
**/*.ts
**/*.map
