.vscode/**
.vscode-test/**
.husky/**
.continue/**
.github/**
.cspell/**
src/**
node_modules/**
out/**
demos/**

.lintstagedrc
cspell.json
commitlint.config.mjs
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs

**/*.ts
**/*.map
**/.vscode-test.*
